# -----------------------------------------------------------------------------
#- Leds example for the Icezum board
#- Constraint file (.pcf)
# -----------------------------------------------------------------------------
# --  Repo: https://github.com/FPGAwars/icezum/wiki
# --  Pinout: https://github.com/FPGAwars/icezum/blob/master/doc/pinout/icezum-pinout.pdf

# ------------ User Leds ------------------------------------------------------
set_io  LED0  95
set_io  LED1  96
set_io  LED2  97
set_io  LED3  98
set_io  LED4  99
set_io  LED5  101
set_io  LED6  102
set_io  LED7  104
